<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guet.dao.StuAuthMapper">
  <resultMap id="BaseResultMap" type="com.guet.entity.StuAuth">
    <id column="u_id" jdbcType="BIGINT" property="uId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="stu_class" jdbcType="VARCHAR" property="stuClass" />
    <result column="stu_no" jdbcType="VARCHAR" property="stuNo" />
    <result column="stu_len" jdbcType="SMALLINT" property="stuLen" />
    <result column="join_year" jdbcType="DATE" property="joinYear" />
    <result column="dis_num" jdbcType="VARCHAR" property="disNum" />
    <result column="dis_ranger" jdbcType="VARCHAR" property="disRanger" />
    <association property="passenger" column="p_id" javaType="com.guet.entity.Passenger">
      <id column="p_id" jdbcType="BIGINT" property="pId" />
      <result column="u_id" jdbcType="BIGINT" property="uId" />
      <result column="real_name" jdbcType="VARCHAR" property="realName" />
      <result column="country" jdbcType="VARCHAR" property="country" />
      <result column="id_card_type" jdbcType="VARCHAR" property="idCardType" />
      <result column="id_card" jdbcType="VARCHAR" property="idCard" />
      <result column="p_type" jdbcType="CHAR" property="pType" />
      <result column="state" jdbcType="BIT" property="state" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    u_id, p_id, province, school, department, stu_class, stu_no, stu_len, join_year, 
    dis_num, dis_ranger
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    *
    from stu_auth s join passenger p on s.p_id=p.p_id
    where u_id = #{uId,jdbcType=BIGINT}
  </select>

  <select id="selectByPid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    *
    from stu_auth s join passenger p on s.p_id=p.p_id
    where s.p_id = #{pId,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    *
    from stu_auth s join passenger p on s.p_id=p.p_id
    where p.p_type='学生'
    and p.state = 0
  </select>

  <select id="selectAllCount" resultType="java.lang.Integer">
    select
    COUNT(*)
    from stu_auth s join passenger p on s.p_id=p.p_id
    where p.p_type='学生'
    and p.state = 0
  </select>

  <select id="selectAllPage" resultMap="BaseResultMap">
    select
    *
    from stu_auth s join passenger p on s.p_id=p.p_id
    where p.p_type='学生'
    and p.state = 0
    limit #{start},#{limit}
  </select>

  <delete id="deleteByPid" parameterType="java.lang.Long">
    delete from stu_auth
    where p_id = #{pId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stu_auth
    where u_id = #{uId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.guet.entity.StuAuth">
    <selectKey keyProperty="uId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stu_auth (p_id, province, school, 
      department, stu_class, stu_no, 
      stu_len, join_year, dis_num, 
      dis_ranger)
    values (#{passenger.pId,jdbcType=BIGINT}, #{province,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR},
      #{department,jdbcType=VARCHAR}, #{stuClass,jdbcType=VARCHAR}, #{stuNo,jdbcType=VARCHAR}, 
      #{stuLen,jdbcType=SMALLINT}, #{joinYear,jdbcType=DATE}, #{disNum,jdbcType=VARCHAR}, 
      #{disRanger,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guet.entity.StuAuth">
    <selectKey keyProperty="uId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stu_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="passenger.pId != null">
        p_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="stuClass != null">
        stu_class,
      </if>
      <if test="stuNo != null">
        stu_no,
      </if>
      <if test="stuLen != null">
        stu_len,
      </if>
      <if test="joinYear != null">
        join_year,
      </if>
      <if test="disNum != null">
        dis_num,
      </if>
      <if test="disRanger != null">
        dis_ranger,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="passenger.pId != null">
        #{passenger.pId,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="stuClass != null">
        #{stuClass,jdbcType=VARCHAR},
      </if>
      <if test="stuNo != null">
        #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="stuLen != null">
        #{stuLen,jdbcType=SMALLINT},
      </if>
      <if test="joinYear != null">
        #{joinYear,jdbcType=DATE},
      </if>
      <if test="disNum != null">
        #{disNum,jdbcType=VARCHAR},
      </if>
      <if test="disRanger != null">
        #{disRanger,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guet.entity.StuAuth">
    update stu_auth
    <set>
      <if test="passenger.pId != null">
        p_id = #{passenger.pId,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="stuClass != null">
        stu_class = #{stuClass,jdbcType=VARCHAR},
      </if>
      <if test="stuNo != null">
        stu_no = #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="stuLen != null">
        stu_len = #{stuLen,jdbcType=SMALLINT},
      </if>
      <if test="joinYear != null">
        join_year = #{joinYear,jdbcType=DATE},
      </if>
      <if test="disNum != null">
        dis_num = #{disNum,jdbcType=VARCHAR},
      </if>
      <if test="disRanger != null">
        dis_ranger = #{disRanger,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guet.entity.StuAuth">
    update stu_auth
    set p_id = #{passenger.pId,jdbcType=BIGINT},
      province = #{province,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      stu_class = #{stuClass,jdbcType=VARCHAR},
      stu_no = #{stuNo,jdbcType=VARCHAR},
      stu_len = #{stuLen,jdbcType=SMALLINT},
      join_year = #{joinYear,jdbcType=DATE},
      dis_num = #{disNum,jdbcType=VARCHAR},
      dis_ranger = #{disRanger,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=BIGINT}
  </update>
</mapper>