* {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;

}
ol,ul,li{
    list-style: none;
}
/*导航     */



/*内容*/

.line{
    width: 100%;
    height: 2px;
    background-color:#64aee5;
    clear: left;
}

.search-box{
    margin:0 auto ;
    margin-top: 20px;


}

.guide{
    background-color:#fff;
    width: 245px;
    float: left;
    padding: 10px;
}


.left{
    float: left;
    display: inline;
}

.claerfix{
    clear: left;
}

.picture{
	float: left;
	margin: 10px 22px;
	border: 2px solid #BBBBBB;
	
	
}
.picture p,h4{
	padding-left: 5px;
}
