<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代售点查询</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ticket_station.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/cityselect.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker3.css">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript " src="js/cityselect.js"></script>
    <script type="text/javascript " src="js/bootstrap-datepicker.min.js"></script>
</head>
<body style="background-color: #f3f3f3">
<div>
    <div class="row">
        <nav class="navbar navbar-default" style="margin-bottom: 0">
            <div class=" col-md-offset-2 col=md-8">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">购票系统</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                        <li ><a href="#">车票预订</a></li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">客运服务 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">票价查询</a></li>
                                <li><a href="#">车次查询</a></li>
                                <li class="active"><a href="#">车站查询</a></li>
                                <li><a href="#">正晚点查询</a></li>
                                <li><a href="#">代售点查询</a></li>

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" style="padding-right: 260px">
                        <li><a href="#">登录</a></li>
                        <li><a href="#">注册</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="line"></div>
    <!--内容-->
    <div class="search-box">
        <div class="search">
            <div class=" col-md-offset-2 col-md-8" style="padding: 13px 15px;">
                <form action="" class="layui-form">
                    <div class="layui-form-item" style="margin-bottom: 0">
                        <label class="layui-form-label" style="width: 100px">所在地区</label>
                        <div class="layui-input-inline">
                            <select name="quiz1">
                                <option value="">请选择省</option>
                                <option value="浙江" selected="">浙江省</option>
                                <option value="你的工号">江西省</option>
                                <option value="你最喜欢的老师">福建省</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="quiz2">
                                <option value="">请选择市</option>
                                <option value="杭州">杭州</option>
                                <option value="宁波" disabled="">宁波</option>
                                <option value="温州">温州</option>
                                <option value="温州">台州</option>
                                <option value="温州">绍兴</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="quiz3">
                                <option value="">请选择县/区</option>
                                <option value="西湖区">西湖区</option>
                                <option value="余杭区">余杭区</option>
                                <option value="拱墅区">临安市</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary ">查询</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




    </div>
    <div class="traffic_result col-md-offset-2 col-md-8 claerfix" style="padding: 20px 0 5px 0">
        安徽亳州市利辛县 共有 1 个代售点
    </div>
    <div class="traffic_information col-md-offset-2 col-md-8 claerfix" style="padding: 0">
        <table class="table table-striped">
            <thead class="traffic_jie_title  ">
                <th width="10%" > 序号</th>
                <th width="20%">代售点名称</th>
                <th width="20%">地址</th>
                <th width="15%">营业时间</th>
                <th width="10%">窗口数量</th>

            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>中铁商业利辛客票代售点</td>
                <td>安徽省亳州市利辛县人民路164号</td>
                <td>08:00-17:30</td>
                <td>1</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });



        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        })
    });
</script>
<script type="text/javascript">
    var test=new Vcity.CitySelector({input:'citySelect'});

</script>
</body>
</html>