.nav_longer{
	height: 100px;
	border-bottom: 0;
}

.nav_wrap{
	border-bottom: 2px solid #0065b9;
	padding-bottom: 18px;
	height: 105px;
}

.w1200{
	width: 1270px;
	margin: 0 auto;
	min-width: 1270px;
}

.logo{
	float: left;
    display: inline;
    margin: 16px 0 0 0;
    position: relative;
    z-index: 2;
}

.head_title{
	float: left;
    display: inline;
    width: 137px;
    border-left: 1px solid #e0e0e0;
    padding-left: 16px;
    padding-top: 30px;
}

.exchange{
	float: right;
    display: inline;
    margin: 75px 0 -10px;
    height: 20px;
    line-height: 20px;
    color: #424242;
    font-size: 14px;
    position: relative;
}

.yanzhengma{
    width: 40%;
    height: 20px;
    display: block;
    float: left;
    margin-left: 10%;
}




.reg_left{
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    background: #fff;
  	padding: 20px;
}
.show{
    display: block;
}
.hide{
    display: none;
}

