.traffic_information{
    background-color: #fff;
    padding: 0 0 0 12px;
    margin-top: 15px;
}

.traffic_information h2{
    display: block;
    margin-bottom: 20px;
}
.traffic_passenger{
    background-color: #fff;
    padding: 0 0 0 12px;
    margin-top: 15px;

}
.traffic_passenger h2{
    display: block;
    margin-bottom: 20px;
}
.nav_longer{
    height: 100px;
    border-bottom: 0;
}

.nav_wrap{

    padding-bottom: 18px;
    height: 105px;
}

.w1200{
    width: 1270px;
    margin: 0 auto;
    min-width: 1270px;
}

.logo{
    float: left;
    display: inline;
    margin: 16px 0 0 0;
    position: relative;
    z-index: 2;
}

.head_title{
    float: left;
    display: inline;
    width: 137px;
    border-left: 1px solid #e0e0e0;
    padding-left: 16px;
    padding-top: 30px;
}

.exchange{
    float: right;
    display: inline;
    margin: 75px 0 -10px;
    height: 20px;
    line-height: 20px;
    color: #424242;
    font-size: 14px;
    position: relative;
}


